HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

**/src/main/generated

# Local / secret yaml files
/secret.yml
/application-local.yml
/src/main/resources/secret.yml
/src/main/resources/application-local.yml

# Keep shared sample/example files tracked
!application.yml.sample
!secret.yml.example
!src/main/resources/application.yml
!src/main/resources/*.sample.yml

# Local PortOne frontend test pages
/src/main/java/com/example/dropshop/common/config/TestDataInitializer.java
/src/main/java/com/example/dropshop/domain/payment/controller/PaymentTestPageController.java
/src/main/resources/static/payments/test.html
/src/main/resources/static/payments/redirect.html
